<form class="form2">

			<input type="number" placeholder="Miles to work..." ng-model="milesToWork">
			<hr>

			<input type="number" placeholder="Minutes to work..." ng-model="minutesToWork">
			<hr>

			<input type="number" placeholder="Hourly wage..." ng-model="avgHourlyWage">
			<hr>

			<input type="number" placeholder="$/gallon of gas..." ng-model="dollarPerGallonOfGas">
			<input type="number" placeholder="MPG of your car..." ng-model="mpgOfCar">
			Cent/mile gas cost: ${{carGasAns | number : 3}}
			<hr>

			<input type="number" placeholder="Cost of new set of tires..." ng-model="costOfTires">
			<input type="number" placeholder="Miles said tires last..." ng-model="milesTiresLast">
			Cent/mile tire cost: ${{tire | number : 3}}
			<hr>

			<input type="number" placeholder="Cost of oil change..." ng-model="costOfOilChange">
			<input type="number" placeholder="Miles inbetween oil changes..." ng-model="milesOilChangeLast">
			Cent/mile oil change cost: ${{oil | number : 3}}
			<hr>

			<input type="number" placeholder="Cost of misc maintenance..." ng-model="costOfMaintenance">
			<input type="number" placeholder="Miles said maintenance lasts..." ng-model="milesMaintenanceLast">
			Cent/mile maintenance cost: ${{maint | number : 3}}
			<hr>

			<input type="number" placeholder="Cost of insurance each month..." ng-model="costOfInsuranceEachMonth">
			Cent/mile insurance cost: ${{ins | number : 3}}
			<hr>

			<form class="buttonForm">
			
			<button class="button" ng-click='submitData()'><a href="#/">Home</a></button>

			
			<button class="button" ng-click='submitData()'><a href="#/results/inputs">Click to see your input totals!</a></button>

			
			<button class="button" ng-click='submitData()'><a href="#/results/roundTrip">Click to see your round trip results!</a></button>

			
			<button class="button" ng-click='submitData()'><a href="#/results/weekTrip">Click to see your weekly results!</a></button>

			
			<button class="button" ng-click='submitData()'><a href="#/results/tenTrip">Click to see your ten year results!</a></button>

		 

			</form>