<!DOCTYPE html>
<html ng-app="CommuteCalculator">
<head>
	<title>Mr. Money Mustache's Commute Calculator</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry"></script>
	<script src="http://d3js.org/d3.v3.min.js"></script>

  	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<!-- Modernizer -->
	<script src="modernizr.custom.js"></script>

	<!-- Classie -->
	<script src="classie.js"></script>

	<!-- Open Sans Font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<!-- Personal Styles -->
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body ng-controller="CommuteController">
	<div class="splitContainer">
		<div id="splitlayout" class="splitlayout">
			<div class="intro">
				<div class="side side-left">
					<div class="intro-content">
						<div class="profile"><img src="images/uncleSam.png" alt="profile1"></div>
						<h1><span>Simple </span><span>IRS Based Calculations</span></h1>
					</div>
					<div class="overlay"></div>
				</div>
				<div class="side side-right">
					<div class="intro-content">
						<div class="profile"><img src="images/mustache.png" alt="profile2"></div>
						<h1><span>Detailed </span><span>User Entered Calculations</span></h1>
					</div>
					<div class="overlay"></div>
				</div>
			</div><!-- /intro -->
			<div class="page page-right page-large">
				<div class="page-inner">
					<form class="form form-horizontal" name="inputData" ng-hide="inputData.$submitted" novalidate>
						<div class="form-group">
							<label class='col-sm-6 control-label' for="milesToWorkDetailed">Miles to work</label>
							<div class="col-sm-6">
								<input type="number" placeholder="Miles to work" ng-model="milesToWorkDetailed" class="form-control detailed" id="milesToWorkDetailed">
							</div>
						</div>
						<div class="form-group">
							<label class='col-sm-6 control-label' for="minutesToWorkDetailed">Minutes to work</label>
							<div class="col-sm-6">
								<input type="number" placeholder="Minutes to work" ng-model="minutesToWorkDetailed" class="form-control detailed" id="minutesToWorkDetailed">
							</div>
						</div>
						<div class="form-group">
							<label class='col-sm-6 control-label' for="avgHourlyWageDetailed">Hourly wage</label>
							<div class="col-sm-6">
								<input type="number" placeholder="Hourly wage" ng-model="avgHourlyWageDetailed" class="form-control detailed" id="avgHourlyWageDetailed">
							</div>
						</div>
						<div class="form-group">
							<label class='col-sm-6 control-label' for="dollarPerGallonOfGasDetailed">$/gallon of gas</label>
							<div class="col-sm-6">
								<input type="number" placeholder="$/gallon of gas" ng-model="dollarPerGallonOfGasDetailed" class="form-control detailed" id="dollarPerGallonOfGasDetailed">
							</div>
						</div>
						<div class="form-group">
							<label class='col-sm-6 control-label' for="mpgOfCarDetailed">MPG of your car</label>
							<div class="col-sm-6">
								<input type="number" placeholder="MPG of your car" ng-model="mpgOfCarDetailed" class="form-control detailed" id="mpgOfCarDetailed">
							</div>
						</div>
						<div class="form-group">
							<label class='col-sm-6 control-label' for="costOfTiresDetialed">Cost of new set of tires</label>
							<div class="col-sm-6">
								<input type="number" placeholder="Cost of new set of tires" ng-model="costOfTiresDetialed" class="form-control detailed" id="costOfTiresDetialed">
							</div>
						</div>
						<div class="form-group">
							<label class='col-sm-6 control-label' for="milesTiresLastDetailed">Miles said tires last</label>
							<div class="col-sm-6">
								<input type="number" placeholder="Miles said tires last" ng-model="milesTiresLastDetailed" class="form-control detailed" id="milesTiresLastDetailed">
							</div>
						</div>
						<div class="form-group">
							<label class='col-sm-6 control-label' for="costOfOilChangeDetailed">Cost of oil change</label>
							<div class="col-sm-6">
								<input type="number" placeholder="Cost of oil change" ng-model="costOfOilChangeDetailed" class="form-control detailed" id="costOfOilChangeDetailed">
							</div>
						</div>
						<div class="form-group">
							<label class='col-sm-6 control-label' for="milesOilChangeLastDetailed">Miles inbetween oil changes</label>
							<div class="col-sm-6">
								<input type="number" placeholder="Miles inbetween oil changes" ng-model="milesOilChangeLastDetailed" class="form-control detailed" id="milesOilChangeLastDetailed">
							</div>
						</div>
						<div class="form-group">
							<label class='col-sm-6 control-label' for="costOfMaintenanceDetailed">Cost of misc maintenance</label>
							<div class="col-sm-6">
								<input type="number" placeholder="Cost of misc maintenance" ng-model="costOfMaintenanceDetailed" class="form-control detailed" id="costOfMaintenanceDetailed">
							</div>
						</div>
						<div class="form-group">
							<label class='col-sm-6 control-label' for="milesMaintenanceLastDetailed">Miles said maintenance lasts</label>
							<div class="col-sm-6">
								<input type="number" placeholder="Miles said maintenance lasts" ng-model="milesMaintenanceLastDetailed" class="form-control detailed" id="milesMaintenanceLastDetailed">
							</div>
						</div>
						<div class="form-group">
							<label class='col-sm-6 control-label' for="costOfInsuranceEachMonthDetailed">Cost of insurance each month</label>
							<div class="col-sm-6">
								<input type="number" placeholder="Cost of insurance each month" ng-model="costOfInsuranceEachMonthDetailed" class="form-control detailed" id="costOfInsuranceEachMonthDetailed">
							</div>
						</div>
					</form>
					<div class="btn-group-wrap">
						<div class='buttonContainer btn-group text-center' role="group" aria-label="...">
							<button class="btn btn-detailed" ng-click='submitDetailedData("pie")'>See your input totals!</button>
							<button class="btn btn-detailed" ng-click='submitDetailedData("roundTripBars")'>See your round trip results!</button>
							<button class="btn btn-detailed" ng-click='submitDetailedData("weekTripBars")'>See your weekly results!</button>
							<button class="btn btn-detailed" ng-click='submitDetailedData("tenTripBars")'>See your ten year results!</button>
						</div>
					</div>

					<div class='chartContainerDetailed'></div>
				</div><!-- /page-inner -->
			</div><!-- /page-right -->
			<div class="page page-left page-fill">
				<div class="page-inner">
					<form class="form form-horizontal" name="inputData" ng-hide="inputData.$submitted" novalidate>
						<div class="form-group">
							<label class='col-sm-6 control-label' for="milesToWorkSimple">Miles to work</label>
							<div class="col-sm-6">
								<input type="number" placeholder="Miles to work" ng-model="milesToWorkSimple" class="form-control simple" id="milesToWorkSimple">
							</div>
						</div>
						<div class="form-group">
							<label class='col-sm-6 control-label' for="minutesToWorkSimple">Minutes to work</label>
							<div class="col-sm-6">
								<input type="number" placeholder="Minutes to work" ng-model="minutesToWorkSimple" class="form-control simple" id="minutesToWorkSimple">
							</div>
						</div>
						<div class="form-group">
							<label class='col-sm-6 control-label' for="avgHourlyWageSimple">Hourly wage</label>
							<div class="col-sm-6">
								<input type="number" placeholder="Hourly wage" ng-model="avgHourlyWageSimple" class="form-control simple" id="avgHourlyWageSimple">
							</div>
						</div>
					</form>
					<div class="btn-group-wrap">
						<div class='buttonContainer btn-group text-center' role="group" aria-label="...">
							<button class="btn btn-simple" ng-click='submitSimpleData("roundTripBars")'>See your round trip results!</button>
							<button class="btn btn-simple" ng-click='submitSimpleData("weekTripBars")'>See your weekly results!</button>
							<button class="btn btn-simple" ng-click='submitSimpleData("tenTripBars")'>See your ten year results!</button>
						</div>
					</div>

					<div class='chartContainerSimple'></div>
				</div><!-- /page-inner -->
			</div><!-- /page-left -->
			<a class="back back-right" title="back to intro">→</a>
			<a class="back back-left" title="back to intro">←</a>
		</div><!-- /splitlayout -->
	</div><!-- /container -->


	<div class="counter">
		<!-- hitwebcounter Code START -->
		<a href="http://www.hitwebcounter.com" target="_blank">
			<img src="http://hitwebcounter.com/counter/counter.php?page=6019845&style=0005&nbdigits=9&type=ip&initCount=0" title="hitweb counter code" Alt="hitweb counter code" border="0" >
		</a>
		<br/>
		<!-- hitwebcounter.com -->
		<a href="http://www.hitwebcounter.com/how-to/how-to-what-is-free-blog-counter.php" title="site meter traffic" target="_blank" style="font-family: Geneva, Arial, Helvetica; font-size: 11px; color: #85948C; text-decoration: underline ;">
			<em>site meter traffic</em>
		</a>
	</div>


	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Today is not your lucky day...</h4>
				</div>
				<div class="modal-body">
					<p>Mr. Money Mustache will be punching you in the face due to the amount of commuting you're doing!&hellip;</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-route.js"></script>
	<script src="app.js"></script>
	<script src="controller.js"></script>
	<script src="service.js"></script>
	<script src="results/resultsCtrl.js"></script>
	<script src="results/resultsService.js"></script>
</body>
</html>