html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.results{
	height: 400px;
	width: 100%;
	background: #FDBBDE;
}

.indResults{
	height: 400px;
	width: 100%;
}

.form {
	width: 100%;
	background-color: #B6B8B7;
	border-radius: 5px;
	clear: left;
	text-align: center;
}

.button{
	height: 10%;
	width: 200px;
	background: white;
	border-radius: 5px;
	color: blue;
}

.pieBack {
	height: 500px;
	width: 100%;
	background-image: url("/images/road.jpg");
}

.pie {
background-color: #AFC9E3;
opacity: .6;
}

.roundBack {
	height: 500px;
	width: 100%;
	background-image: url("/images/surf.jpg");
}

.roundTripBars{
	background-color: #AFC9E3;
	opacity: .6;
}

.weekBack {
	height: 500px;
	width: 100%;
	background-image: url("/images/volcano.jpg");
}

.weekTripBars{
	background-color: #AFC9E3;
	opacity: .6;
}

.tenBack {
	height: 500px;
	width: 100%;
	background-image: url("/images/vw.jpg");
}

.tenTripBars{
	background-color: #AFC9E3;
	opacity: .6;
}
