html, body, #map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map_canvas {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.form{
	position: absolute;
	top: 20%;
	right: 10%;
	width: 300px;
	height: 400px;
	background: #fff;
	border-radius: 5px;
}

.Home{
	width: 100%;
	height: 50%;
}

.Work{
	width: 100%;
	height: 50%;
}

.bar{
	height: 20px;
	width: 100%;
	input: text;
}