html, body, #map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
}

/*#map_canvas {
	height: 100%;
	width: 100%;
	overflow: hidden;
}*/

.form {
	position: absolute;
	top: 20%;
	right: 10%;
	width: 500px;
	height: 400px;
	background: #fff;
	border-radius: 5px;
}

.form2 {
	position: absolute;
	top: 20%;
	right: 30%;
	width: 500px;
	height: 500px;
	background: #fff;
	border-radius: 5px;
}

.Home {
	width: 100%;
	height: 45%;
	text-align: center;
}

.Work {
	width: 100%;
	height: 45%;
	text-align: center;
}

.bar {
	height: 20px;
	width: 100%;
	text-align: left;
}

.button{
	height: 10%;
	width: 100px;
	background: blue;
	border-radius: 5px;
	color: #fff;
}
